.layout-table {
  display: table;
  width: 100%;
  .t-row {
    display: table-row;
    .t-cell {
      display: table-cell;
      padding-bottom: 10px;
      word-break: break-all;
      word-wrap: break-word;
      word-wrap: break-word;
      white-space: normal;
      input[type=text], textarea {
        width: 100%;
      }
      .label-incell {
        padding: 4px 6px;
        text-align: right;
        line-height: 18px;
      }
      @for $i from 20 to 300 by 5 {
        &.cell-$i {
          width: $(i)px;
        }
      }
    }
  }
}

@for $i from 1 to 12 {
  .col-$i {
    width: calc(($(i)/12) * 100%);
    float: left;
    position: relative;
  }
}
